# vscode
.vscode

# python cache
__pycache__

# virtual env
venv

# ignore local pip package folder
*.egg-info

# standard settings folder for running server
settings

# logging folder
logs

# debug result folder
debug

# scripts data files
scripts/**/*.h5
scripts/**/*.mat
scripts/data/*
!scripts/data/meta.json
scripts/test/*
!scripts/test/data
!scripts/test/.gitkeep