# vscode
.vscode

# python cache
__pycache__

# virtual env
venv

# ignore local pip package folder
*.egg-info

# standard settings folder for running server
settings

# logging folder
logs

# debug result folder
debug